@import '_settings';
@import '_config';
@import '_mixins';
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: #860c03;
    div,
    img {
        position: absolute;
    }
}
#circle{
    fill:red;
    opacity:1;
    transform: translateX(-13px) translateY(-13px);
}
#ring{
    fill: rgb(255, 255, 255); 
    opacity: 1;
    transform: translateX(-13px) translateY(-13px);
}
#arrow{
    fill: #fff
}
#oval{
    fill: red ; 
    opacity: 0;
    transform: translateX(-13px) translateY(-13px);
}
#bg{
    top: 0px;
    left: 13px;
     transform: scale(1.2);
}
#lewis{
   top: -22px;
    left: -13px;
    transform: scale(0.91);

}

#copyOne{
   top: 23px;
   left: 143px;
   transform: translateY(80px);

}

#copyTwo{
    top: 18px;
    left: 171px;
    transform: translateY(80px);
}

#copyThree{
    top: 53px;
    left: 455px;
    transform: translateY(80px);    
}

//Logo
#YTLogo{
    transform: scale(1) translate(316px,-10px);
}

#YTMusicCopyContainer {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 190px;
    height: 37px;
    overflow: hidden;
}

#YTMusicCopy {
    position: absolute;
    top: 5px;
    left: -140px;
    width: 158px;
    height: 28px;
    background-image: url(../img/YTMusic.svg);
    background-repeat: no-repeat;
}

#YTIcon {
    position: absolute;
    top: 20px;
    left: 13px;
    width: 68px;
    height: 68px;
}
#playNowContainer {
   
    top: 38px;
    right: -200px;
    width: 9px;
    height: 27px;
    
    overflow: hidden;
}

#playNowCopy{

   
    top: 2px;
    left: -155px;
    width: 144px;
    height: 20px;
    background-image: url("../img/playNow.svg");
    background-repeat: no-repeat;
    transform: translateX(170px);
}

#bgExit{
    position: absolute;
    width: $width;
    height: $height;
    cursor: pointer;
}